{% extends './base.html' %}

{% block body%}
<div class="container col-12">
    <h1 class="text-center mb-4">Ingresa el aeropuerto que deseas evitar</h1>
    <form action="/deleteRuta" method="post">
        <div class="mb-3">
            <label for="airport" class="form-label">Aeropuerto:</label>
            <select class="form-select" id="airport" name="airport" required>
                <option value="" disabled selected>Seleccione un aeropuerto</option>
                {% for airport in airports %}
                <option value ="{{airport['IATA']}}">{{ airport['City'] }}, {{ airport['Country'] }}, {{ airport['IATA'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Borrar Ruta</button>
        </div>
    </form>
</div>

{% if message == True %}
<div class="container">
    <div class="alert alert-primary" role="alert">
        El aeropuerto {{airport}} se evitará en tus búsquedas.
    </div>
</div>
{% endif %}
{% if message == False %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        El aeropurto {{airport}} ya está siendo evitado.
    </div>

</div>
{% endif %}
{% endblock%}