{% extends './base.html' %}

{% block body%}
<div class="container mt-5">
    <h1 class="text-center mb-4">Vista técnica de la ruta de menor costo</h1>
    <form action="/showTechnicalView" method="post">
        <div class="mb-3">
            <label for="origen" class="form-label">Aeropuerto de origen:</label>
            <select class="form-select" id="origen" name="origen" required>
                <option value="" disabled selected>Código IATA aeropuerto de origen</option>
                {% for airport in airports %}
                <option value ="{{airport['IATA']}}">{{ airport['City'] }}, {{ airport['Country'] }}, {{ airport['IATA'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="destino" class="form-label">Aeropuerto de destino:</label>
            <select class="form-select" id="destino" name="destino" required>
                <option value="" disabled selected>Código IATA aeropuerto de destino</option>
                {% for airport in airports %}
                <option value ="{{airport['IATA']}}">{{ airport['City'] }}, {{ airport['Country'] }}, {{ airport['IATA'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Encontrar Ruta</button>

        </div>
    </form>
</div>
{% if urlimg %}
<div class="mx-auto" style="width: 200px;">
    <img src="{{urlimg}}" alt="Image">
</div>


{% endif %}
{% endblock%}